Application:
  Environment:
    ASPNETCORE_ENVIRONMENT: prd
  Secrets:
    PharmaNet_PharmanetProxy__Endpoint: common-prd-secrets
    PharmaNet_PharmanetProxy__Username: common-prd-secrets
    PharmaNet_PharmanetProxy__Password: common-prd-secrets
    PharmaNet_PharmanetProxy__ClientCertificatePassword: common-prd-secrets

OpenShift:
  Environment: prd
  ImageProject: d027a8-tools

image:
  stream: claimservice

resources:
  limits:
    cpu: 100m
    memory: 400Mi
  requests:
    cpu: 20m
    memory: 200Mi

replicaCount: 2
